* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ffef15;
}

html {
    font-size: 55%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/*ajuste da navbar*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 7.5%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);


    display: flex;
    align-items: center;
    z-index: 1000;
}

.header a{
    margin-right: auto;
}

.navbar{
    display: flex;
    margin: 0 auto;
}


/*Ajustes da navbar mobile apenas o icon*/
#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

/*Ajustes e animações da logo*/
.logo{
    width: 220px;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

/*Ajustes e animações das opções simples*/
.navbar a {
    position: relative;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 200;
    text-decoration: none;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    transition: width 0.15s ease-in-out;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover::after {
    width: 100%;
}

/*Ajustes e animações do botão gradiente*/
.gradient-btn {
    margin-left: auto;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #df9e12 10%,
        #ffef15 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--text-color);
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover{
    transform: scale(1.15);
}




/*Mobile*/

@media (max-width: 950px) {

    /*Ajuste da NavBar mobile*/
    .navbar{
        display:block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3 rem;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }

    .navbar a{
        position:static;
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        margin-left: 2rem;
        color: var(--text-color);
    }

    .navbar a:hover::after {
        width: 0%;
    }

    .navbar.active{
        display: block;
    }

    /*gradient-btn none*/
    .gradient-btn{
        display: none;
    }

    #menu-icon{
        display:block;
    }
}


@media (max-width: 720px) {
    .logo{
        width: 180px;
    }

    #menu-icon{
        font-size: 3rem;
        display: block;
    }
}